<% include ../partials/header %>


<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Edit <%= campground.name %></h1>
        <div style="width: 30%; margin: 40px auto;">
            <form action="/campgrounds/<%= campground._id %>/?_method=PUT" method="POST">
                <div class="form-group">
                    <input name="campground[name]" type="text" placeholder="Name" class="form-control" value="<%= campground.name %>">
                </div>
                <div class="form-group">
                    <input name="campground[price]" type="number" placeholder="price per night" value="<%= campground.price %>" class="form-control" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <input name="campground[image]" type="image url" placeholder="Image URL" class="form-control" value="<%= campground.image %>" >
                </div>
                <div class="form-group">
                    <input name="campground[description]" type="text" placeholder="Description" class="form-control" value="<%= campground.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back to Campgrounds</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>